
        .nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}
.nexainput
{
  cursor:inherit;
}

.Grid.grd_mCombo .body
{
	border : 0px none;
	border-radius : 0px;
}
.Grid.grd_mCombo .body .row .cell
{
	border : 1px solid #ffffff,0px none,1px solid #dddddd;
	background : #ffffff;
}
.Grid.grd_mCombo .body .row .cell.oddcell
{
	background : #ffffff;
}
.Grid.grd_mCombo
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_mCombo .body .row .cell[status=mouseover]
{
	background : #f1f9fe;
}
.Grid.grd_mCombo .body .row .cell.oddcell[status=mouseover]
{
	background : #f1f9fe;
}
.Grid.grd_mCombo .body .row .cell[userstatus=selected]
{
	background : #d1ebfc;
}
.Grid.grd_mCombo .body .row .cell.oddcell[userstatus=selected]
{
	background : #d1ebfc;
}
